<!DOCTYPE html>
<html>
  <head>
    <style>
      .customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

      .customers td, .customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      .customers tr:nth-child(even){background-color: #f2f2f2;}

      .customers tr:hover {background-color: #ddd;}

      .customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
      } 

    </style>  
  </head>
  <body style="background-color: aliceblue">
    <br>
    <div style="  
      margin: auto;
      width: 50%;
      padding: 10px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
      font-size: 14px;
      ">
      <h1>Estimado(a), name:</h1>
      <p>
        Te adjuntamos un resumen semanal de tu cuenta en <b>iEnergybook</b>.
      </p>
      <hr>
      <div>
        <div style="
            border-style: solid;
            border-radius: 5px;
            border-width: 1px;
            border-color: lightgray;
            ">
          <h2 style="padding: 0px 0px 0px 10px;
            ">
            Costos:
          </h2>
          <div style="padding: 0px 0px 0px 10px;
              margin: 0px 10px 0px 10px">
            <h3>
              Servicios
            </h3>
            <div style="list-style: none; padding-left: 10px !important;">
                <table style="width:100%; padding-left: 10px" class="customers">
                  <tr>
                    <th>Servicio</th>
                    <th>Energía</th>
                    <th>Costo</th>
                  </tr>
                  {{#services}}
                    <tr>
                      <td>{{name}}</td>
                      <td>{{consumption.value}}kWh</td>
                      <td>${{consumption.cost}}</td>
                    </tr>
                    
                  {{/services}}
                </table>
              <br>
            </div>
            <h3>
              Dispositivos
            </h3>
            <div style="list-style: none; padding-left: 10px !important;">
              <table style="width:100%; padding-left: 10px" class="customers">
                <tr>
                  <th>Dispositivo</th>
                  <th>Energía</th>
                  <th>Costo</th>
                </tr>
                {{#devices}}
                  <tr>
                    <td>{{name}}</td>
                    <td>{{consumption.value}}kWh</td>
                    <td>${{consumption.cost}}</td>
                  </tr>
                {{/devices}}
              </table>
              <br>
            </div>
          </div>
        </div>
        <br>
        <div style="
          border-style: solid;
          border-radius: 5px;
          border-width: 1px;
          border-color: lightgray;
          ">
          <h2 style="padding: 0px 0px 0px 10px;">
            Generación:
          </h2>
          <div style="padding: 0px 0px 0px 10px;
          margin: 0px 10px 0px 10px">
            <h3>
              Servicios
            </h3>
            <ul style="list-style: none; padding-left: 10px !important;">
              {{#services}}
                <li>
                  <b>{{name}}:</b>
                  <table style="width:100%; padding-left: 10px">
                    <tr>
                      <th>Categoría</th>
                      <th>Energía</th>
                      <th>Costo</th>
                    </tr>
                    <tr>
                      <td>generación</td>
                      <td>10kWh</td>
                      <td>$10.0</td>
                    </tr>
                    <tr>
                      <td>inyección a la red</td>
                      <td>20kW</td>
                      <td>$0.02</td>
                    </tr>
                    <tr>
                      <td>autoconsumo</td>
                      <td>-10kW</td>
                      <td>$0.55</td>
                    </tr>
                  </table>
                </li>
                {{/services}}
              <br>
            </ul>
            <h3>
              Dispositivos
            </h3>
            <ul style="list-style: none; padding-left: 10px !important;">
              {{#devices}}
                <li>
                  <b>{{name}}:</b>
                  <table style="width:100%; padding-left: 10px">
                    <tr>
                      <th>Categoría</th>
                      <th>Energía</th>
                      <th>Costo</th>
                    </tr>
                    <tr>
                      <td>generación</td>
                      <td>{{consumption}}kWh</td>
                      <td>${{cost}}</td>
                    </tr>
                    <tr>
                      <td>inyección a la red</td>
                      <td>20kW</td>
                      <td>$0.02</td>
                    </tr>
                    <tr>
                      <td>autoconsumo</td>
                      <td>-10kW</td>
                      <td>$0.55</td>
                    </tr>
                  </table>
                </li>
              {{/devices}}  
              <br>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div style="  
      margin: auto;
      width: 30%;
      padding: 10px;
      padding-top: 5px;
      text-align: center;">
      <span style="margin-top: 8px;
                  cursor: pointer;
                  font-size: 12px;">
        <a href="http://app.ienergybook.com" style="text-decoration: none">iEnergybook </a> | <a href="mailto:	hola@ienergybook.com
  " style="text-decoration: none">hola@ienergybook.com</a>
      </span>
    </div>

    <br>
  </body>
</html>