<!DOCTYPE html>
<html>
  <body style="background-color: aliceblue;">
    <br>
    <div style="  
    margin: auto;
    width: 30%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
    font-size: 14px;
    ">
      <h2>Saludos, {{name}}:</h2>
      <p>
        Te damos la bienvenida a <b>iEnergybook</b>.
      </p>
      <p>
        A continuación, te recordamos los datos con los podrás iniciar sesión:
      </p>
      <p>
        Usuario: {{email}}
        <br>
        Contraseña: {{password}}
      </p>    
    </div>
    <div style="  
    margin: auto;
    width: 30%;
    padding: 10px;
    padding-top: 5px;
    text-align: center;">
      <span style="margin-top: 8px;
                cursor: pointer;
                font-size: 12px;">
        <a href="http://app.ienergybook.com" style="text-decoration: none">iEnergybook </a> | <a href="mailto:	hola@ienergybook.com
" style="text-decoration: none">hola@ienergybook.com</a>
      </span>  
    </div>
    
    <br>
  </body>
</html>